<!DOCTYPE HTML>
<html>
	<body>
		<!-- Embora não seja muito útil este primeiro, por estar em uma 	-->
		<!-- relação 1x1, é ainda assim um endpoint válido para fazer  		-->
		<!-- requests, e podemos, futuramente, ter que adicionar endereços	-->
		<!-- para alunos, por exemplo. -->
		<div th:fragment="menu">

			<!-- <h3>Endereços</h3>
			<ul>
				<li> <a href="/address/api">Ver todos os endereços (JSON)</a> </li>
				<li> <a href="/address/">Ver todos os endereços (HTML)</a> </li>
			</ul>

			<br/> -->

			<h3>Escolas</h3>
			<ul>
				<li> <a href="/school/api">Ver todas as escolas (JSON)</a> </li>
				<li> <a href="/school/all">Ver todas as escolas (HTML)</a> </li>
			</ul>

			<br/>

			<!-- <h3>Alunos</h3>
			<ul>
				<li> <a href="/student/api">Ver todos os alunos (JSON)</a> </li>
				<li> <a href="/student/">Ver todos os alunos (HTML)</a> </li>
			</ul>

			<br />

			<h3>Turmas</h3>
			<ul>
				<li> <a href="/class/api">Ver todas as turmas (JSON)</a> </li>
				<li> <a href="/class/">Ver todas as turmas (HTML)</a> </li>
			</ul>

			<br/> -->
		</div>
	</body>
</html>
